<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sisyphus.auth.authorize.mapper.AuthMenuMapper">
    <resultMap id="BaseResultMap" type="com.sisyphus.auth.authorize.model.dto.AuthMenuDTO">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="version" jdbcType="INTEGER" property="version"/>
        <result column="menu_name" jdbcType="VARCHAR" property="menuName"/>
        <result column="menu_code" jdbcType="VARCHAR" property="menuCode"/>
        <result column="status" jdbcType="VARCHAR" property="status"/>
        <result column="visible" jdbcType="VARCHAR" property="visible"/>
        <result column="menu_type" jdbcType="VARCHAR" property="menuType"/>
        <result column="url" jdbcType="VARCHAR" property="url"/>
        <result column="icon" jdbcType="VARCHAR" property="icon"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="pid" jdbcType="BIGINT" property="pid"/>
        <result column="level" jdbcType="INTEGER" property="level"/>
        <result column="leaf" jdbcType="INTEGER" property="leaf"/>
        <result column="number" jdbcType="INTEGER" property="number"/>
    </resultMap>

    <sql id="Base_Column_List">
        ${alias}.id, ${alias}.version, ${alias}.menu_name, ${alias}.menu_code, ${alias}.status, ${alias}.visible,
        ${alias}.menu_type, ${alias}.url, ${alias}.icon, ${alias}.pid, ${alias}.level, ${alias}.number, ${alias}.remark
    </sql>

    <sql id="Base_Where_Condition">
        <if test="id != null and id !=''">
            AND id = #{id,jdbcType=BIGINT}
        </if>
        <if test="version != null">
            AND version = #{version,jdbcType=INTEGER}
        </if>
        <if test="menuCode != null and menuCode !=''">
            AND menu_code = #{menuCode,jdbcType=VARCHAR}
        </if>
        <if test="menuName != null and menuName !=''">
            AND menu_name = #{menuName,jdbcType=VARCHAR}
        </if>
        <if test="status != null and status !=''">
            AND status = #{status,jdbcType=VARCHAR}
        </if>
        <if test="url != null and url !=''">
            AND url = #{url,jdbcType=VARCHAR}
        </if>
        <if test="icon != null and icon !=''">
            AND icon = #{icon,jdbcType=VARCHAR}
        </if>
        <if test="pid != null">
            AND pid = #{pid,jdbcType=BIGINT}
        </if>
        <if test="level != null ">
            AND level = #{level,jdbcType=INTEGER}
        </if>
        <if test="leaf != null">
            AND leaf = #{leaf,jdbcType=INTEGER}
        </if>
        <if test="number != null">
            AND number = #{number,jdbcType=INTEGER}
        </if>
        <if test="remark != null and remark !=''">
            AND remark = #{remark,jdbcType=VARCHAR}
        </if>
        <if test="creator != null and creator !=''">
            AND creator = #{creator,jdbcType=VARCHAR}
        </if>
        <if test="creatorId != null and creatorId !=''">
            AND creator_id = #{creatorId,jdbcType=BIGINT}
        </if>
        <if test="gmtCreated != null">
            AND gmt_created = #{gmtCreated,jdbcTpe=TIMESTAMP}
        </if>
        <if test="lastOperator != null and lastOperator !=''">
            AND last_operator = #{lastOperator,jdbcType=VARCHAR}
        </if>
        <if test="lastOperatorId != null and lastOperatorId !=''">
            AND last_operator_id = #{lastOperatorId,jdbcType=BIGINT}
        </if>
        <if test="gmtModified != null">
            AND gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
        </if>
    </sql>

    <select id="findMenuVoListByUserId" resultType="com.sisyphus.auth.authorize.model.vo.AuthMenuVO">
        SELECT
            m.menu_code as menuCode,
            m.menu_name as menuName,
            m.url as url,
            m.pid as pid,
            m.id as id,
            m.icon as icon
        FROM
            s_uac_role r,  s_uac_role_menu rm, s_uac_menu m, s_uac_user u , s_uac_user_role ur
        WHERE
            1=1
          and	r.id = rm.role_id
          and rm.menu_id = m.id
          and u.id = ur.user_id
          and ur.role_id = r.id
          and u.id = #{userId,jdbcType=BIGINT}
          and m.status='enable'
        order by  m.level asc, m.number asc
    </select>

    <select id="listMenu" resultType="com.sisyphus.auth.authorize.model.domain.AuthMenu"
            parameterType="java.util.Set">
        SELECT
        <include refid="Base_Column_List">
            <property name="alias" value="m"></property>
        </include>
        From
        s_uac_menu m
        WHERE m.id IN
        <foreach collection="menuIdList" item="val" index="index" open="(" close=")" separator=",">
            #{val}
        </foreach>
    </select>

    <select id="selectMenuList" resultType="com.sisyphus.auth.authorize.model.domain.AuthMenu"
            parameterType="com.sisyphus.auth.authorize.model.domain.AuthMenu">
        SELECT
        <include refid="Base_Column_List">
            <property name="alias" value="m"></property>
        </include>
        From
        s_uac_menu m
        WHERE
        1 =1 <include refid="Base_Where_Condition" />

    </select>

</mapper>